<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PALINDROME TESTER</title>
    <link rel="stylesheet" href="/public/site.css">
</head>

<body>
    <header>
        <h1>Palindrome Calculator</h1>
    </header>
    <main class="container">
        <div class="row">
            <div class="col-sm-6">
                {{{body}}}
            </div>
        </div>
    </main>
    <footer>
The webpage has been developed by MOHAMMED MAAZ MOHIUDDIN QAZI,,, My CWID- 10457620
    </footer>
</body>
</html>
