body {
	background: #fefefe;
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	font-size: 15pt;
  }
  
  main {
	max-width: 75%;
	margin: auto;
  }
  
  header {
	border-bottom: 1px solid #afafaf;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	color: #333;
	margin-bottom: 5px;
  }
  
  h1 {
	font-size: 2rem;
  }
  
  h2 {
	font-size: 1.75rem;
  }
  
  h3 {
	font-size: 1.5rem;
  }
  
  h4 {
	font-size: 1.25rem;
  }
  
  h5 {
	font-size: 1.15rem;
  }
  
  h6 {
	font-size: 1.05rem;
  }
  
  p {
	font-size: 1rem;
	line-height: 2;
  }
  
  form {
    border: 2px solid black;
    padding: 1rem;
    background-color:#ababab;
  } 
  
  label {
    text-transform: uppercase;
  }

  .true {
    color: #28a745;
  }

  .false {
    color: #dc3545;
  }

  header {
	margin: 0 0 12px;
	text-align: center;
	color: #b48608;
	font-weight: 400;
	font-style: italic;
	font-family: 'Droid serif', serif;
	font-size: 36px;
	line-height: 44px;
  }
  
  footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
  }