<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ERRORS</title>

    <link rel="stylesheet" href="/public/site.css"/>
</head>
<body>
    <main>
        <h1 >Error</h1>
       <p>That's an Error - {{error}}</p>
        <a href="/">Give an Input</a>
    </main>
</body>
</html>