<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The Best Palindrome Checker in the World!</title>
        <link rel="stylesheet" href="/public/site.css">
    </head>
    <body>
        <main>
            <h1> The Best Palindrome Checker in the World! </h1>
            <p>
            A palindrome is a type of word play in which a word or phrase spelled forward is the same word or phrase spelled backward. 
            My website, checks whether you have typed a correct input (ignoring spacing and punctuation).
            </p>
            <form action="/results" method="POST" class="calculations-form">
                <label for="input-check">
                    Enter text to check for Palindrome:
                    <input type="text" id="input-check" name="inputcheck" placeholder="Please give an input">
                </label>
                <button type="submit"> TEST </button>
            </form>        
        </main>
    </body>
</html>